p, h1, h2, h3, h4, h5{
margin:0;
}
li{
    margin:0;
    padding-left: 0;
}
img{
    display: block;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    border-bottom: 1px solid #e7e9fc
}
/* header */
.container{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-inner{
    display:flex;
    align-items: center;
    flex-grow: 1;
}
.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.logo{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.page-nav{
    display: flex;
        gap: 40px;
}
.mail-list{
    display: flex;
        gap: 40px;
}
.nav-link{
    color: #2e2f42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: inline-block;
}
.nav-link:hover{
    color: #404bbf;
}
.nav-link:focus{
    color: #404bbf;
}
.item-body{
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}
address{
    font-style: normal;
}

.info-inner{
    display:flex;
    gap: 40px;
}
.mail-nav {
    display: flex;
    gap: 40px;
}
.accent{
    color: #2e2f42;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
}
.accent-footer{
    color: #f4f4fd;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        text-decoration: none;
}

.item-mail{
    color: #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
}
.item-mail:hover{
    color: #404bbf;
}
.item-mail:focus{
    color: #404bbf;
}
/* effect-section */
.effect-info{
    display: block;

}
.effect-inner{
    padding: 188px 472px 292px;
}
.effect-inner{
    max-width: 496px;
}
.effect-section{
    background-color: #2E2F42;
    padding: 188px 0;
}
.effect-title{
    color: #FFFFFF;
    font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        max-width: 496px;
}
.effect-actions {
    display: flex;
    align-items: center;
}

.effective-button{
    display:block;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    border:none;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    margin: auto ;
    padding:16px 32px;
    min-width: 169px;
    height: 56px;
    border-radius:4px;
}
.effective-button:hover{
    background-color: #404BBF;
}
.effective-button:focus{
    background-color: #404BBF;
}

/* CONTENT */
.solution-business{
    padding: 120px 0;
}
.advantage-list{
    display: flex;
    gap: 24px;
    padding-left: 156px;
}
.photo-info{
    padding-bottom: 32px;
}
.quality-item{
         color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        display: flex;
        padding-bottom: 8px;
        margin-bottom: 8px;    
}
.quality-item-info{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 120px;
}
.team{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.section-team{
    background-color: #F4F4FD;
    padding:120px 0;
}
/* our TEAM */
.team-info{
    padding: 32px 0;
}
.team-human{
    padding: 120px 0;
}
.our-team{
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    align-items: center;
    margin-bottom: 72px;
}
.item-list{
    background-color: #FFFFFF; 
    
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.information-team{
    display: block;
        width: calc((100% - 72px) / 4);
    padding: 32px 0;
}

.list-work{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
    text-align: center;
}
.list-name {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    line-height: 1.2;
    padding-bottom: 8px;
    text-align: center;
    padding-bottom: 8px;
}
/* our-portfolio */

.information{
    padding: 120px 0 120px;
}
.our-portfolio{
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.list-name-page{
    margin-bottom: 8px;
    width: calc((100% - 48px) / 3);
}
.media-list{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px
}
.sphere-list-link{
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5
}

.name-addendum{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
/* FOOTER */
.footer-info{
    background-color:#2E2F42;
    padding:100px 0;
}
.conclusion{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.logo-footer{
color: #4d5ae5;
    font-family: "Raleway",
        sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    margin-bottom: 16px;
}


