p, h1, h2, h3, h4, h5{
margin:0;
}
li{
    margin:0;
    padding-left: 0;
}
img{
    display: block;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
header{
    border-bottom: 1px solid #e7e9fc
}
.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-inner{
    display:flex;
    align-items: center;
    flex-grow: 1;
}
.nav-logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.page-nav {
    display: flex;
    gap: 40px;
}
.page-list{
    pading:24px 0;
}
.nav-link {
    color: #2e2f42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: inline-block;
}
.nav-link:hover {
    color: #404bbf;
}
.nav-link:focus {
    color: #404bbf;
}
.support-info {
    display: flex;
    justify-content: flex-start;
}
.inner-list{
    display:flex;
    gap: 40px;
    
}
.item-body{
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}
address {
    font-style: normal;
}
.address-list{
    display:flex;
    gap: 40px;
}
.accent{
    color: #2e2f42;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
}
.accent-footer{
    color: #f4f4fd;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        text-decoration: none;
}

.item-mail{
    color: #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
}
.item-mail:hover{
    color: #404bbf;
}
.item-mail:focus{
    color: #404bbf;
}
/* effect-section */
.effect-inner{
    padding: 188px 472px 292px;
}
.effect-actions{
    display: flex;
    align-items: center;
    padding-top: 48px;
}

.effect-section{
    background-color: #2E2F42;
}
.effect-title{
    color: #FFFFFF;
    font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
}
.effective-button{
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    border:none;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    margin: auto;
    padding:16px 32px;
    
}
.effective-button:hover{
    background-color: #404BBF;
}
.effective-button:focus{
    background-color: #404BBF;
}
/* CONTENT */
.advantage-list{
    display: flex;
    gap: 24px;
    padding-left: 156px;
}
.photo-info{
    padding-bottom: 32px;
}
.quality-item{
         color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        display: flex;
        padding-bottom: 8px;    
}
.quality-item-info{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 120px;
}
.team{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.section-team{
    background-color: #F4F4FD;
}
/* our TEAM */

.our-team{
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    align-items: center;
}
.item-list{
    background-color: #FFFFFF;
    flex-basis: calc((100%-72)/ 4);
    
}
.list-name{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    line-height: 1.2;
    padding-bottom: 8px;
}
.list-work{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
}
.our-portfolio{
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.media-list{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.sphere-list-link{
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5
}
.footer-info{
    background-color:#2E2F42;
}
.conclusion{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
